{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" type = "text/css" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="dropdown" style="float:left">
  <button class="dropbtn">Move your cursor here to select filter</button>
  <div class="dropdown-content">
    <a href="/pollution">Pollution</a>
    <a href="/lgbtq">LGBTQ</a>
    <a href="/vegan">Vegan</a>
    <a href="/nk">North Korea</a>
    <a href="/modi">Modi</a>
  </div>
</div>

<h1 style="text-align:center">TweetMap</h1>

<div id="map" style="width:100%;height:500px;"></div>
   <script>
     var map;
     function initMap() {
         map = new google.maps.Map(document.getElementById('map'), {
             center: {lat: 17.46, lng: 8.74},
             zoom: 3
         });

         var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

         var markers = locations.map(function (location, i) {
             return new google.maps.Marker({
                 position: location,
                 label: labels[i % labels.length]
             });
         });

         var markerCluster = new MarkerClusterer(map, markers,
             {imagePath: 'http://kanishkstweetmap.us-east-1.elasticbeanstalk.com/static/images/m'});
     }
    var locations = [];
    {% for coordinate in coordinates %}
        var point = {lat: {{ coordinate.lat }}, lng: {{coordinate.lng}}};
        locations.push(point);
    {% endfor %}
   </script>
    <script type="text/javascript" src="{% static 'js/markerclusterer.js' %}">
    </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlZCLQckOd17qOFDVyFJk9TN8mIvH4zMs&callback=initMap"
   async defer></script>
</body>
</html>
