<html>
 <head>
  <meta content="initial-scale=1.0, user-scalable=no" name="viewport"/>
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <title>
   Google Maps - pygmaps
  </title>
  <script type="text/javascript">
   function initialize() {
		var centerlatlng = new google.maps.LatLng(0.000000, 0.000000);
		var myOptions = {
			zoom: 1,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(77.648967, 138.653496);
		var img = new google.maps.MarkerImage('/Users/kanishk/tweetmap/lib/python3.6/site-packages/gmplot/markers/000000.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(74.568331, -64.294353);
		var img = new google.maps.MarkerImage('/Users/kanishk/tweetmap/lib/python3.6/site-packages/gmplot/markers/000000.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.613939, 77.209021);
		var img = new google.maps.MarkerImage('/Users/kanishk/tweetmap/lib/python3.6/site-packages/gmplot/markers/000000.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(-83.170567, -11.681887);
		var img = new google.maps.MarkerImage('/Users/kanishk/tweetmap/lib/python3.6/site-packages/gmplot/markers/000000.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(50.850346, 4.351721);
		var img = new google.maps.MarkerImage('/Users/kanishk/tweetmap/lib/python3.6/site-packages/gmplot/markers/000000.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(51.253775, -85.323214);
		var img = new google.maps.MarkerImage('/Users/kanishk/tweetmap/lib/python3.6/site-packages/gmplot/markers/000000.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(52.463533, -1.964443);
		var img = new google.maps.MarkerImage('/Users/kanishk/tweetmap/lib/python3.6/site-packages/gmplot/markers/000000.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(-75.589738, -3.274505);
		var img = new google.maps.MarkerImage('/Users/kanishk/tweetmap/lib/python3.6/site-packages/gmplot/markers/000000.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(54.460870, -3.088625);
		var img = new google.maps.MarkerImage('/Users/kanishk/tweetmap/lib/python3.6/site-packages/gmplot/markers/000000.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(43.296482, 5.369780);
		var img = new google.maps.MarkerImage('/Users/kanishk/tweetmap/lib/python3.6/site-packages/gmplot/markers/000000.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

	}
  </script>
 </head>
 <body onload="initialize()" style="margin:0px; padding:0px;">
  <div id="map_canvas" style="width: 100%; height: 100%;">
  </div>
  <script async="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlZCLQckOd17qOFDVyFJk9TN8mIvH4zMs&amp;callback=initialize&amp;libraries=visualization&amp;sensor=true_or_false">
  </script>
 </body>
</html>
